@font-face {
    src: url("../fonts/Raleway-Regular.ttf"),
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf"),
}

@font-face {
    src: url("../fonts/PixelOperator.ttf"),
}

@font-face {
    src: url("../fonts/Morpheus.ttf"),
}

.ventana-menu {
	-fx-background-image:url("../img/fondomenu.jpg");
	-fx-background-size: contain;
	-fx-background-position: center;
	-fx-background-repeat:no-repeat;
	-fx-background-color:white;
}

.info-personaje {
	-fx-background-color:linear-gradient(to bottom, #bf6e4e 0%,#bf6e4e 11%,#f0b7a1 100%);
	-fx-border-radius:10;
	-fx-background-radius:10;
	-fx-min-width:90;
	-fx-min-height:40;
	-fx-padding:5;
}

.nombre-personaje {
	-fx-font-family: "Morpheus";
    -fx-font-size: 15;
    -fx-text-fill:black;
}

.cara-personaje{
	height:15;
	width:15;
}

.progress-bar{
	-fx-accent: rgb(124,252,0);
}

.progress-bar.rojo {
	-fx-accent: red;
}

.progress-bar.naranja {
	-fx-accent: orange;
}

.boton-menu {
	-fx-min-width: 200;
	-fx-padding:10;
	-fx-font-family: "Pixel Operator";
	-fx-font-size:20;
	-fx-background-color:linear-gradient(to bottom, #f9a500 0%,#ffd900 100%);
	-fx-effect: dropshadow(two-pass-box , black, 2,0.5,1, 1); 
	-fx-border-radius:10;
	-fx-background-radius:10;
}

.vista-lateral .boton-menu {
	-fx-min-width:135;
	-fx-max-width:135;
	-fx-padding:5;
	-fx-font-size:14;
	-fx-background-color:linear-gradient(to bottom, #f9a500 0%,#ffd900 100%);
	-fx-font-family:"Morpheus";
	-fx-text-alignment:center;
}

.boton-menu:hover {
	-fx-effect: innershadow(gaussian , black , 2 , 0.2 , 1 , 1 ); 
}

.tablero {
	-fx-background-image: url("../img/background.jpg");
	-fx-background-repeat: repeat; 
}

.fondo-casillero {
	-fx-min-width: 30;
	-fx-min-height: 60;
	-fx-background-image: url("../img/pasto.jpg");
	-fx-background-repeat: repeat;
	-fx-background-size: 16 16;
}

.tablero .personaje {
	-fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 30 60;
}

.tablero .consumible {
	-fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 30 auto;
}

.tablero .personaje.coloreado {
	-fx-background-color:rgba(150,240,150,0.5);
}

.tablero .personaje.remarcado {
	-fx-background-color:rgba(150,150,240,0.5);
}

.opcion-movimiento,.opcion-ataque {
	-fx-opacity:0.3
}

.turnoDelJugador{
	-fx-min-width:150;
	-fx-min-height:40;
	-fx-background-color:rgb(121,164,239);
	-fx-font-size: 15;
	-fx-font-family: "Roboto";
	-fx-alignment:center;
}

.menu-personaje{
	-fx-padding:10 0 0 0;
}

.menu-personaje .labels-informacion{
	-fx-font-family: "Roboto";
	-fx-font-size: 12;
}