@font-face {
    src: url("../fonts/Raleway-Regular.ttf"),
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf"),
}

@font-face {
    src: url("../fonts/Saiyan-Sans.ttf"),
}

.ventana-menu {
	-fx-background-color:rgb(0,124,200);
}

.info-personaje {
	-fx-background-color:rgb(209,163,163);
	-fx-border-radius:10;
	-fx-background-radius:10;
	-fx-min-width:90;
	-fx-min-height:40;
	-fx-padding:5;
}

.info-personaje .nombre-personaje {
	-fx-font-family: "Raleway";
    -fx-font-size: 15;
    -fx-text-fill:black;
}

.info-personaje .cara-personaje{
	height:15;
	width:15;
}

.progress-bar{
	-fx-accent: rgb(124,252,0);
}

.progress-bar.rojo {
	-fx-accent: red;
}

.titulo-algoball {
	-fx-font-family: "Saiyan Sans";
    -fx-font-size: 80;
    -fx-text-fill:linear-gradient(to bottom, #ba0005 0%,#ef0012 100%);
    -fx-effect: dropshadow(two-pass-box , black, 10, 0.0 , 4, 5); 
}

.boton-menu {
	-fx-min-width: 200;
	-fx-padding:10;
	-fx-font-family: "Roboto";
	-fx-font-size:20;
	-fx-background-color:linear-gradient(to bottom, #f9a500 0%,#ffd900 100%);
	-fx-effect: dropshadow(two-pass-box , black, 2,0.5,1, 1); 
	-fx-border-radius:10;
	-fx-background-radius:10;
}

.boton-menu:hover {
	-fx-effect: innershadow(gaussian , black , 2 , 0.2 , 1 , 1 ); 
}

.tablero {
	-fx-background-color:lightblue
}

.tablero .personaje {
	-fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 45 90;
}

.tablero .personaje.coloreado {
	-fx-background-color:rgb(150,240,150);
}

.turnoDelJugador{
	-fx-min-width:90;
	-fx-min-height:40;
	-fx-background-color:rgb(121,164,239);
	-fx-font-size: 15;
	-fx-font-family: "Roboto";

}